.main{
  background-color: rgb(47, 44, 44);
  height: 100vh;
  overflow: hidden;
}

.card{

  text-align: center;
  max-width: 520px;
  position: relative;
  left: 200px;
  height: 55vh;
  top: 100px;

  

}

.card img{
  height: 50px;
}

figcaption{
  color: white;
  padding-top: 3px;


}


.input_btn{
  border: none;
  outline: none;
 background-color: white;
  position: relative;
  right: 30px;
  font-size: 20px;

 
}

.input_btn:hover{
  color: green;
}

.someitem{

  height: 30px;
  max-width: 230px;

  position: relative;
  left: 130px;
  text-align: start;
  

}

.each_item h3{
  position: relative;
  left: 5px;
  color: white;
}
.each_item{
  background-color: rgb(84, 41, 204);
  height: 30px;
  
}

.each_item button{
  position: relative;
  left: 200px;
  top: -40px;
  border: none;
  background-color: rgb(84, 41, 204);
  color: white;
  font-size: 20px;
  
}


.last{
  text-align: center;
 
}
.lst_btn{
  border: black  solid 1px;
  font-size: 20px;
  margin-top: 40px;

}

.lst_btn:hover{
  background-color:rgb(84, 41, 204) ;
  color: white;
  transition: 0.3s  linear ;
}

/* ***************************************** */

@media only screen and (max-width: 600px) {

  .card{
    position:relative;
    left: 5px;
  }

  .each_item{
    position: relative;
    left : -100px
  }

  .main{
    overflow: scroll;

  }
  .lst_btn{
    position: relative;
    left: -100px;
  }

} 